<html>

<head>
    <title>Random-A-Tron</title>
    <link rel="stylesheet" href="/style.css"/>
</head>

<body>
<ul>
    <li><a href="/main"/>Home</li>
    <li><a href="/one">One</a></li>
    <li><a href="/two">Pair</a></li>
</ul>

<div class="container" id="content">
    #parse($template)
</div>

</div>
</body>

</html>